*{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	outline: none;
}

body, html{
	height: 100%;
}

body {
	background: #181C21 url('./images/test.svg') repeat;
	font-family: 'Open Sans', 'Helvetica Neue', arial, sans-serif;
	color: #FFF;
}

.top_bg{
	height: 274px;
	background: #662D91;
	position: absolute;
	z-index: -999;
	top: 0;
	width: 100%;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.05);
	left: 0;
}

#app{
	margin: 0 auto;
	width: 1125px;
	height: 500px;
}

#header {
	display: flex;
	align-items: center;
	height: 133px;

 	.nav {
		list-style: none;
		margin-left: auto;

		li {
			display: inline;

			a {
				text-decoration: none;
				color: #FFF;
				border: 1px solid #FFF;
				border-radius: 4px;
				padding: 7px 16px;
				margin-left: 20px;
				font-weight: 600;
				font-size: 16px;

				&.credits::before, 
				&.username::before {
					margin-right: 0.8em;
					display: inline-block;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
				}

				&.credits::before {
					font-family: "Font Awesome 5 Pro"; font-weight: 400; content: "\f3ff";
				}

				&.username::before {
					font-family: "Font Awesome 5 Pro"; font-weight: 400; content: "\f007";
				}
			}
		}
	}
}

.main_content {
	border-radius: 4px;
	min-height: 690px;
	background: #14181C;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.25);

	.ContentMenu {
		border-radius: 4px;
		height: 87px;
		background: #181C21;
		display: flex;
		align-items: center;
		padding: 0 44px;

		a {
			text-decoration: none;
			color: #FFF;
			font-size: 15px;
			text-transform: uppercase;
			font-weight: 600;

			&:hover{
				color: #CCCCCC;
			}

			&.activated{
				color: #9A49CC;
			}

			&.tournaments::before,
			&.my_tournaments::before,
			&.profile::before,
			&.clash_coins::before{
				margin-right: 0.8em;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
			}

			&.tournaments::before{
				font-family: "Font Awesome 5 Pro"; font-weight: 400; content: "\f091";
			}

			&.my_tournaments::before{
				font-family: "Font Awesome 5 Pro"; font-weight: 400; content: "\f2eb";
			}

			&.clash_coins::before{
				font-family: "Font Awesome 5 Pro"; font-weight: 400; content: "\f3ff";
			}

			&.profile::before{
				font-family: "Font Awesome 5 Pro"; font-weight: 400; content: "\f007";
			}

			&.my_tournaments,
			&.profile{
				margin-left: auto;
			}
		}
	}

	.ListContainer{
		margin-top: 31px;

		&:last-child{
			margin-top: 58px;
			margin-bottom: 58px;
			padding-bottom: 31px;
		}
		
		.top_bar{
			padding: 0 44px;

			button {
				background: none;
				border: none;
				width: initial;
				font-size: 13px;
				font-weight: 600;
				text-transform: uppercase;
				color: #989898;
				display: block;
				cursor: pointer;

				&.name {
					color: #FFF;
				}

				&.time {
					float: right;
				}

				&.time.asc::after,
				&.time.desc::after{
					content: "";
					margin-left: initial;
				}

				&.time.desc::before{
					font-family: "Font Awesome 5 Pro"; font-weight: 600; content: "\f0d7";
				}

				&.time.asc::before{
					font-family: "Font Awesome 5 Pro"; font-weight: 600; content: "\f0d8";
				}

				&.time::before{
					font-size: 13px;
					margin-right: 0.3em;
					display: inline-block;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
				}

				&.desc::after{
					font-family: "Font Awesome 5 Pro"; font-weight: 600; content: "\f0d7";
				}

				&.asc::after{
					font-family: "Font Awesome 5 Pro"; font-weight: 600; content: "\f0d8";
				}

				&::after {
					font-size: 13px;
					margin-left: 0.3em;
					display: inline-block;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
				}
			}

		}

		.top_bar.grid-system{
			display: grid;
			grid-template-columns: 3fr 2fr 2fr 1fr 2fr 2fr;
			grid-column-gap: 15px;
		}

		.ListContainerItem{
			background: rgba(0, 0, 0, 0.12);
			padding: 13px 0;
			margin: 8px 0;

			.item_info {
				padding: 0 44px;
				
				span{
					align-self: center;
					font-size: 15px;
					font-weight: 600;

					&.queuetype{
						color:#662D91;
						margin-right: 14px;
					}

					&.time{
						text-align: right;
					}
				}
				.button_area {
					text-align: right;
					span.button{
						color: #9A49CC;
						background: none;
						border: 1px solid #9A49CC;
						border-radius: 4px;
						font-weight: 600;
						font-size: 12px;
						padding: 6px 22px;
						display: inline-block;
						cursor: pointer;
						text-transform: uppercase;
					}
				}
			}
			
			.item_info.grid-system{
				display: grid;
				grid-template-columns: 3fr 2fr 2fr 1fr 2fr 2fr;
				grid-column-gap: 15px;
			}

			&.inprogress{
				span{
					&.queuetype{
						color:#989898;
						opacity: 0.37;
						margin-right: 14px;
					}
					color: #7D7D7F;
				}

				.button_area{
					span.button{
						color: #7D7D7F;
						border-color: #7D7D7F;
					}
				}
			}
		}

		.pagination {
			list-style: none;
			text-align: center;
			
			li {
				display: inline;
				margin: 0 5px;
				border-radius: 4px;
				color: #989898;
				cursor: pointer;
				font-size: 13px;
				font-weight: 600;
				opacity: 0.5;
				padding: 2px 4px;

				&.active{
					border: 1px solid #989898;
					padding: 0 4px;
					margin: 0 4px;
				}
			}
		}
	}

	.SingleFormContainer{
		display: flex;
		justify-content: center;
		min-height: 690px;

		.customForm{
			align-self: center;
			width: 300px;

			.title{
				text-align: center;
				i {
					font-size: 50px;
					padding-bottom: 20px;
				}
				h1{
					font-size: 25px;
					font-weight: 600;
					margin-bottom: 40px;
					text-transform: uppercase;
				}
			}

			label {
				display: block;
				margin-bottom: 20px;

				span{
					display: block;
					font-size: 14px;
					font-weight: 600;
					margin-bottom: 5px;
					cursor: pointer;
				}

				a.forgot{
					font-size: 12px;
					font-weight: 600;
					color: #8a8a8a;
					opacity: 0.5;
					text-decoration: none;		
					
					&:hover{
						text-decoration: underline;
					}
				}

			}

			.noaccount{
				text-align: center;
				margin-top: 50px;
				padding-top: 40px;
				border-top: 1px solid rgba(138, 138, 138, 0.14);
				span{
					font-size: 12px;
					font-weight: 600;

					a.signup{
						color: #662D91;
					}
				}
			}
		}
	}

	.ProfileView {
		display: flex;
		justify-content: center;
		min-height: 603px;
		align-items: center;

		.customForm {
			width: 300px;

			.creationDate{
				span {
					margin-top: 10px;
					font-size: 10px;
					font-weight: 400;
					cursor: initial;
					color: #8A8C91;
				}
			}
		}
	}

	.CreditsView{
		display: flex;
		flex-wrap: wrap;
		padding: 0 44px;
		
		.coinInfo {
			width: 100%;
			display: grid;
			grid-template-columns: 5fr 7fr;
			padding-top: 44px;

			.currentCredits{
				border: 1px solid #272A2E;
				border-radius: 4px;
				padding: 18px 21px;
				position: relative;

				p{
					display: block;
					font-size: 13px;
					font-weight: 600;
					margin-bottom: 5px;
					color: #989898;
				}

				.credits{
					margin-bottom: 17px;
					font-size: 30px;
					color:#CCCCCC;
					font-weight: 800;
					line-height: 30px;

					span{
						font-size: 25px;
						font-weight: 700;
					}

					&:nth-last-child(2){
						margin-bottom: 0;
					}
				}

				button.withdraw{
					background: none;
					border: 1px solid #272A2E;
					color: #626262;
					padding: 5px 10px;
					border-radius: 4px;
					cursor: pointer;
					position: absolute;
					bottom: 21px;
					right: 22px;
					transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;
					

					&:hover{
						color: #CCCCCC;
						border-color: #989898;
					}
				}

				&::before{
					right: 22px;
					position: absolute;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					font-family: "Font Awesome 5 Pro";
					font-weight: 300;
					font-size: 30px;
					content: "\f3ff";
				}
			}
		}

		.customForm{
			margin-top: 61px;
			width: 100%;

			form{
				width: 100%;
				text-align: center;

				.grouped_options{
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
			
					.credit_options{
						position: relative;
						display: inline-block;
						

						.circle{
							border: 1px solid #4F4F4F;
							width: 18px;
							height: 18px;
							border-radius: 40px;
							margin: 20px auto;
							position: relative;
						}
						
						label{
							width: 169px;
							height: 193px;
							cursor: pointer;
							text-align: center;
							padding-top: 20px;
							margin-bottom: 0px;

							.highlight{
								border-radius: 4px;
								width: 169px;
								height: 193px;
								border: 1px solid #272A2E;
								position: absolute;
								left: 0px;
								top: 0px;

								&::before{
									top: 10px;
									right: 14px;
									position: absolute;
									font-style: normal;
									font-variant: normal;
									text-rendering: auto;
									-webkit-font-smoothing: antialiased;
									font-family: "Font Awesome 5 Pro";
									font-weight: 300;
									font-size: 24px;
									content: "\f3ff";
								}
							}

							p{
								margin:0;

								&.credits{
									margin-top: 40px;
									font-size: 30px;
									font-weight: 800;
								}

								&.price{
									font-size: 16px;
									font-weight: 400;
								}

								span{
									display: initial;
									font-size: 25px;
									font-weight: 700;
								}
							}

							input[type="radio"] {
								opacity: 0;
								-webkit-appearance: none;
								display: inline-block;
								vertical-align: middle;
								z-index: 100;
								width: 169px;
								height: 193px;
								top: 50%;
								left: 0;
								margin-top: -96.5px;
								cursor: pointer;
								position: absolute;

								&:checked + .highlight,
								&:checked ~ div.circle {
									border-color: #9A49CC;
								}

								&:checked + .highlight{
									border-color: rgba(154, 73, 204, 0.9);
									box-shadow: 0 0 0 2px rgba(214, 125, 255, 0.15);
								}

								&:checked ~ p,
								&:checked ~ i,
								&:checked + .highlight::before{
									color: #9A49CC;
								}

								&:checked ~ div.circle::before{
									content: " ";
									position: absolute;
									left: 3px;
									top: 2.9px;
									border-radius: 40px;
									border: 5px solid #9A49CC;
								}
							}
						}
					}
				}
				
				div.credits_button{
					margin-top: 50px;
					display: flex;
					justify-content: center;

					input[type="submit"] {
						width: 300px;
					}
				}
			}
		}
	}
}

@keyframes loading{
	0%{
		color: #23262A;
		fill: #23262A;
	}
	50%{
		color: #313238;
		fill: #313238;
	}
	100%{
		color: #23262A;
		fill: #23262A;
	}
}

div.ContentMenu + div.LoadingDiv{
	height: 603px;
}

.LoadingDiv, .ErrorDiv {
	display: flex;
	height: 690px;
	align-items: center;
	justify-content: center;

	.LoadingContent{
		text-align: center;
		animation-name: loading;
		animation-duration: 1.5s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;

		#rocket-icon{
			width: 100px;
		}

		span{
			font-weight: 800;
			text-transform: uppercase;
			font-size: 18px;
			display: block;
			
		}
	}

	.ErrorContent{
		text-align: center;
		i{
			font-size: 100px;
			color:#23262A;
		}

		span{
			margin-top: 7px;
			color:#23262A;
			font-weight: 800;
			text-transform: uppercase;
			font-size: 18px;
			display: block;
		}
	}
}

form {
	label {
		display: block;
		margin-bottom: 20px;

		span{
			display: block;
			font-size: 14px;
			font-weight: 600;
			margin-bottom: 5px;
			cursor: pointer;
		}

		input{
			width: 100%;
			display: block;
			background: rgba(24, 28, 33, 0.45);
			border-radius: 4px;
			border: 1px solid rgba(112, 64, 147, 0.71);
			color: #959595;
			font-weight: 600;
			font-size: 13px;
			padding: 12px 13px;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
			

			&:focus{
				border-color: rgba(154, 73, 204, 0.9);
				box-shadow: 0 0 0 2px rgba(214, 125, 255, 0.15);
			}
		}

		a.forgot{
			font-size: 12px;
			font-weight: 600;
			color: #8a8a8a;
			opacity: 0.5;
			text-decoration: none;		
			
			&:hover{
				text-decoration: underline;
			}
		}
	}

	input[type="submit"] {
		width: 100%;
		border-radius: 4px;
		display: block;
		border:1px solid rgba(154, 73, 204, 0.9);
		background: #662D91;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 600;
		padding: 10px 13px;
		color:#FFF;
		cursor: pointer;

		&:hover{
			background: #622B8D;
		}

		&:active{
			background: #5C2784;
		}
	}

	input:disabled {
		border-color: #272A2E;
	}
	
	.progress-button{
		position: relative;
		text-align: center;

		button {
			display: block;
			text-transform: uppercase;
			margin: 0 auto;
			padding: 0;
			width: 100%;
			height: 42px;
			border: 1px solid rgba(154, 73, 204, 0.9);
			border-radius: 4px;
			background: #662D91;
			font-weight: 600;
			color: #fff;
			letter-spacing: 1px;
			font-size: 16px;
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s, border-radius 0.3s;
			
			span{
				transition: opacity 0.3s 0.1s;
			}

			&:hover{
				background: #622B8D;
			}

			&:focus{
				outline: none;
			}

			&:active{
				background: #5C2784;
			}

			i{
				top: 5px;
			}
		}

		i{
			font-size: 30px;
			color:#FFF;
			transition: opacity 0.1s;
			opacity: 0;

			&.cross,
			&.checkmark{
				top: 5px;
			}
		}

		svg, i {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			pointer-events: none;
		}

		svg.progress-circle path {
			stroke: rgba(154, 73, 204, 0.9);
			stroke-width: 3;
			fill: none;
			opacity: 0;
		}

		&.loading{
			button{
				width: 42px;
				cursor: not-allowed;
				background-color: transparent;
				border-width: 3px;
				border-color: #444444;
				border-radius: 21px;
			}
			span{
				transition: opacity 0.15s;
			}

			svg.progress-circle {
				path{
					opacity: 1;
					transition: opacity 1.5s, stroke-dashoffset 0.3s ease-in-out;
				}
			}
		}

		&.success button{
			border-color: #1ECD97;
			background-color: #1ECD97;
		}
		&.success i.checkmark{
			opacity: 1;
			top: 5px;
		}

		&.error button{
			border-color: #FB797E;
			background-color: #FB797E;
		}
		&.error i.cross{
			top: 5px;
			opacity: 1;
		}

		&.success button,
		&.error button {
			cursor: not-allowed;
			transition: background-color 0.3s, width 0.3s, border-width 0.3s;
		}
		&.loading span,
		&.success span,
		&.error span {
			opacity: 0;
		}
	}
}